<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="files/imageedit_1_3054951801.png" type="image/icon type">
  <title>hadsız</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
</head>

<body id="feed-body">
  <nav class="navbar">
    <div class="navbar_container">
      <a href="feed.html" id="navbar_logo"><img src="files/imageedit_1_3054951801.png" id="imageLogo"></a>

      <ul class="navbar_menu">
        <li class="navbar_item">
          <a href="search.html" class="navbar_links">Search</a>
        </li>
        <li class="navbar_item">
          <a href="whoami.html" class="navbar_links">My profile</a>
        </li>
        <li class="navbar_item">
          <a href="newmessage.html" class="navbar_links">New message</a>
        </li>
        <li class="navbar_item">
          <button id="logout-btn">Sign out</button>
        </li>
      </ul>
    </div>
  </nav>
  <div id="app" class="feed">
    <div v-for="message in messages" :key="message._id" class="feed-posts">
      <p class="feed-title">{{ message.text }}</p>
      <p class="post-content">{{ message.user }}</p>
      <p class="post-date">{{ message.date }}</p>
      <button @click="readMessage(message._id, message.user)" id="readBtn">Read</button>
    </div>
    <div v-if="messages.length===0">
      <img src="files/Business team looking for new people.jpg" id="backgroundImageNoFollowers">
      <h2 id="noMsgs">No messages. </h2>
      <p id="pNoMsg">Start following your friends.</p>
      <button onclick="search()" id="btnSearchNoMsg">Search</button>
    </div>
  </div>


  <script>
    function search() {
      window.location.href = "search.html";
    }

    const logoutBtn = document.getElementById('logout-btn');
    if (logoutBtn) {
      logoutBtn.addEventListener('click', async (event) => {
        event.preventDefault();
        try {
          const response = await fetch('/api/auth/signout', {
            method: 'POST',
            credentials: 'include',
          });

          if (response.ok) {
            window.location.href = 'index.html';
          } else {
            const data = await response.json();
            console.log(data.message);
          }
        } catch (error) {
          console.log(error.message);
        }
      });
    }

    const app = new Vue({
      el: '#app',
      data: {
        messages: [],
        isLiked: ''
      },
      mounted() {
        this.getFeed();
      },
      methods: {
        async getFeed() {
          try {
            const response = await fetch('/api/social/feed');
            const data = await response.json();
            if (response.ok) {
              this.messages = data;
            } else {
              console.error(data.error);
            }
          } catch (error) {
            console.error('Error:', error);
          }
        },
        async readMessage(messageId, userId) {
          try {

            const response = await fetch(`/api/social/messages/${userId}/${messageId}`);
            const data = await response.json();
            if (response.ok) {
              window.location.href = `messageUserId.html?messageId=${messageId}&&userId=${userId}`;
            } else {
              console.error(data.error);
            }
          } catch (error) {
            console.error('Error:', error);
          }
        },
        async like(messageId) {
          try {

            const response = await fetch(`/api/social/like/isLiked/${messageId}`);
            const data = await response.json();

            if (response.ok) {
              const isLiked = data.isLiked;

              likeBtn = document.getElementById("likeButton");
              if (!isLiked) {
                await fetch(`/api/social/like/${messageId}`, {
                  method: 'POST',
                });
                likeBtn.style.backgroundColor = "gray";
                likeBtn.innerText = "Unlike";
              }
              else if (isLiked) {
                await fetch(`/api/social/like/${messageId}`, {
                  method: 'DELETE',
                });
                likeBtn.style.backgroundColor = "#363636";
                likeBtn.innerText = "Like";
              }
            } else {
              console.error(data.error);
            }
          } catch (error) {
            console.error('Error:', error);
          }
        }

      }
    });

    fetch('/api/auth/check-auth')
      .then(res => res.json())
      .then(data => {
        if (data.message === 'Not authenticated') {
          console.log('User is not logged in');
          alert("You have to login first");
          window.location.href = "signuporsignin.html";



        }
      })
      .catch(error => {
        console.error('Error checking authentication status:', error);
      });

  </script>
</body>

</html>